/*
 *= require ./nouislider
 *= require ./arduino-light
 *= require_self
 */

html {
  box-sizing: border-box;
  font-size: 14px;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #333;
}

a, a:visited, a:active {
  color: #428bca;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

th {
  text-align: left;
  border-bottom: solid 2px #ddd;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}

h1 small {
  font-weight: normal;
  font-size: 14px;
  color: #999;
}

h1, h2, p, ul, hr, table, pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

.field {
  margin-bottom: 0.5rem;
}

h3 {
  text-align: center;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

table td, table th {
  padding: 8px;
}

td {
  border-top: solid 1px #ddd;
  vertical-align: top;
}

pre {
  background-color: #eee;
  padding: 10px;
  white-space: pre-wrap;
  word-break: break-word;
  margin-top: 0;
}

textarea {
  width: 100%;
  height: 120px;
  border: solid 1px #ddd;
  padding: 10px;
  font-size: inherit;
  font-family: monospace;
}

hr {
  border: none;
  height: 0;
  border-top: solid 1px #ddd;
}

.text-muted {
  color: #999;
}

.text-warning {
  color: #f0ad4e;
}

.text-right {
  text-align: right;
}

.percent {
  color: #999;
  font-size: 12px;
  margin-left: 6px;
}

.btn-explain {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: #999;
  font-size: 12px;
  line-height: 20px;
  margin-left: 6px;
}

.btn-explain:hover {
  text-decoration: underline;
}

.user {
  color: #999;
  font-size: 12px;
  float: right;
  line-height: 20px;
}

.user a {
  color: inherit;
}

.tiny {
  font-size: 12px;
  margin-left: 6px;
}

#status, .content, .alert {
  margin-bottom: 20px;
}

.content {
  padding: 20px 20px 1px 20px;
  background-color: #fff;
}

.queries td {
  vertical-align: middle;
}

#status div {
  margin-bottom: 0;
}

#slider-container {
  padding: 6px 140px 20px 140px;
}

.queries-table th a, .space-table th a {
  color: inherit;
}

#slider {
  margin-bottom: 20px;
}

#range-start {
  min-height: 20px;
}

#range-end {
  float: right;
}

.queries-info {
  text-align: center;
  margin-top: 40px;
}

/* basscss */

.flex-column{ -webkit-box-orient:vertical; -webkit-box-direction:normal; -webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column }

.items-stretch{ -webkit-box-align:stretch; -webkit-align-items:stretch; -ms-flex-align:stretch; -ms-grid-row-align:stretch; align-items:stretch }

.flex{ display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex }

.flex-auto{
  -webkit-box-flex:1;
  -webkit-flex:1 1 auto;
      -ms-flex:1 1 auto;
          flex:1 1 auto;
  min-width:0;
  min-height:0;
}

.flex-none{ -webkit-box-flex:0; -webkit-flex:none; -ms-flex:none; flex:none }

.mb0 { margin-bottom: 0 }

/* switcher */

.db-switcher {
  padding: 0 20px;
  position: relative;
  margin-bottom: 20px;
}

.db-switcher summary {
  font-weight: bold;
}

.db-switcher .popup {
  position: absolute;
  border: 1px solid #ddd;
  background: white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 4px 10px 0px, rgba(0, 0, 0, 0.027451) 0px 0px 0px 1px;
  width: 200px;
}

.db-switcher .popup li a {
  padding: 15px 10px;
  font-weight: bold;
  display: block;
}

/* nav */

.sidebar {
  position: fixed;
  top: 0;
  width: 200px;
}

@media handheld, only screen and (max-width: 767px) {
  body {
    display: inline !important;
  }

  .sidebar-container {
    border-right: 0 !important;
    width: 100% !important;
  }

  .sidebar {
    position: relative;
    width: 100%;
  }
}

.logo {
  padding: 13px 20px 0px;
  margin-bottom: 15px;
}

.nav a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 12px 20px;
}

.nav li.active a {
  background-color: #e1e4e8;
}

.nav a:hover {
  background-color: #e1e4e8;
}

.nav li.active-database a {
  color: #999;
}

.nav-header {
  font-weight: bold;
  color: #333;
  padding: 12px 20px 12px 0;
  margin: 0;
}

/* buttons */

.btn {
  display: inline-block;
  border: none;
  color: #fff;
  padding: 12px 20px;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  cursor: pointer;
  outline: none;
  margin: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.btn-danger {
  background-color: #d9534f;
}

.btn-info {
  background-color: #5bc0de;
}

/* alerts */

.alert {
  padding: 12px 20px;
  color: #fff;
}

.alert-info {
  background-color: #5bc0de;
}

.alert-success {
  background-color: #5cb85c;
}

.alert-warning {
  background-color: #f0ad4e;
}

.alert-danger {
  background-color: #d9534f;
}

.alert a {
  color: #fff;
  text-decoration: none;
}

.button_to, .button_to div {
  display: inline;
}

/* sliders */

.noUi-connect {
  box-shadow: none;
  background: #5bc0de;
}

.noUi-handle {
  box-shadow: none;
}

.noUi-target {
  box-shadow: none;
  border-color: #eee;
}

.noUi-background {
  box-shadow: none;
  background-color: #eee;
}

.noUi-origin {
  border-radius: 0;
}

#periods {
  text-align: center;
}

#periods a {
  margin-right: 20px;
}

.chart {
  height: 300px;
  line-height: 300px;
  text-align: center;
  color: #999;
}

.unused-index {
  color: #f0ad4e;
  font-size: 11px;
  font-weight: bold;
}

.primary-key {
  color: #f0ad4e;
  font-size: 11px;
  font-weight: bold;
}

.origin {
  word-break: break-word;
}

.duplicate-indexes td {
  padding: 15px 0 5px 0;
}

.duplicate-indexes pre {
  margin-top: 10px;
}

.no-outline:focus {
  outline: none;
}
