<table class="table">
  <thead>
    <tr>
      <th style="width: 33.33%;">Total Time</th>
      <th style="width: 33.33%;">Average Time</th>
      <th style="width: 33.33%;">Calls</th>
    </tr>
  </thead>
  <tbody>
    <% queries.each do |query| %>
      <tr>
        <td><%= query["total_minutes"].round %> min</td>
        <td><%= query["average_time"].round %> ms</td>
        <td><%= number_with_delimiter(query["calls"]) %></td>
      </tr>
      <tr>
        <td colspan="3" style="border-top: none; padding: 0;"><pre><%= query["query"] %></pre></td>
      </tr>
    <% end %>
  </tbody>
</table>
