<div class="content">
  <h1>Connections</h1>

  <%= render partial: "connections_table", locals: {total_connections: @total_connections, connection_sources: PgHero.connection_sources(by_database_and_user: true), show_message: false} %>
</div>
