<div class="content">
  <h1>Connections</h1>

  <p><%= pluralize(@total_connections, "connection") %></p>

  <%= render partial: "connections_table", locals: {connection_sources: @connection_sources} %>
</div>
