<div class="content">
  <h1>Index Bloat</h1>

  <p>Indexes can become bloated over time. Recreate them to remove bloat.</p>

  <p>For each index, run:</p>
  <code><pre>CREATE INDEX CONCURRENTLY new_index ...;
ANALYZE table;
DROP INDEX CONCURRENTLY index;
ANALYZE table;
ALTER INDEX new_index RENAME TO index;
</pre></code>

  <table class="table">
    <thead>
      <tr>
        <th>Index</th>
        <th style="width: 15%;">Bloat</th>
        <th style="width: 15%;">Size</th>
      </tr>
    </thead>
    <tbody>
      <% @index_bloat.each do |index| %>
        <tr>
          <td>
            <span style="word-break: break-all;"><%= index[:index] %></span>
          </td>
          <td><%= PgHero.pretty_size(index[:bloat_bytes]) %></td>
          <td><%= PgHero.pretty_size(index[:index_bytes]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
