<div class="content">
  <%= button_to "Reset", reset_query_stats_path, class: "btn btn-danger", style: "float: right;" %>

  <h1>Queries</h1>

  <% if @query_stats_enabled %>
    <% if @query_stats.any? %>
      <%= render partial: "query_stats_table", locals: {queries: @query_stats} %>
    <% else %>
      <p>Stats are not available yet. Come back soon!</p>
    <% end %>
  <% else %>
    <p>Query stats are not enabled.</p>
  <% end %>
</div>
