<% content_for(:title, 'Queries') %>
<div class="content">
  <h1>Queries</h1>

  <%= render partial: "queries_table", locals: {queries: @running_queries} %>

  <p><%= button_to "Kill all connections", kill_all_path, class: "btn btn-danger" %></p>

  <p class="text-muted">You may need to restart your Rails server afterwards.</p>
</div>
