<div class="content">
  <h1>Query Stats</h1>

  <% if @query_stats_enabled %>
    <% if @query_stats.any? %>
      <table class="table">
        <thead>
          <tr>
            <th>Query</th>
            <th>Calls</th>
            <th>Total (min)</th>
            <th>Avg (ms)</th>
          </tr>
        </thead>
        <tbody>
          <% @query_stats.each do |query| %>
            <tr>
              <td><pre><%= query["query"] %></pre></td>
              <td><% calls = query["calls"].to_i / 1000.0 %><%= calls >= 10 ? number_with_delimiter(calls.round) : calls.round(1) %>k</td>
              <td><%= query["total_minutes"].to_f.round %></td>
              <td><%= query["average_time"].to_f.round %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Stats are not available yet. Come back soon!</p>
    <% end %>
  <% else %>
    <p>Query stats are not enabled.</p>
  <% end %>
</div>
