<div class="content">
  <p id="periods">
    <% @periods.each do |name, options| %>
      <%= link_to name, system_path(options) %>
    <% end %>
  </p>
  <% path_options = {duration: @duration, period: @period} %>

  <h1>CPU</h1>
  <div id="chart-1" class="chart" style="margin-bottom: 20px;">Loading...</div>
  <script>
    new Chartkick.LineChart("chart-1", <%= json_escape(cpu_usage_path(path_options).to_json).html_safe %>, {max: 100, colors: ["#5bc0de"], suffix: "%", library: {plugins: {tooltip: {intersect: false, mode: "index"}}}})
  </script>

  <h1>Load</h1>
  <div id="chart-2" class="chart" style="margin-bottom: 20px;">Loading...</div>
  <script>
    new Chartkick.LineChart("chart-2", <%= json_escape(load_stats_path(path_options).to_json).html_safe %>, {colors: ["#5bc0de", "#d9534f"], library: {plugins: {tooltip: {intersect: false, mode: "nearest"}}}})
  </script>
</div>
