<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="content">
  <h1>CPU Usage</h1>
  <div style="margin-bottom: 20px;"><%= line_chart @cpu_usage, max: 101 %></div>

  <h1>Connections</h1>
  <div style="margin-bottom: 20px;"><%= line_chart @connection_stats %></div>
</div>
