class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :pghero_queries do |t|
      t.text :query
    end

    add_index :pghero_queries, :query, using: :hash

    add_reference :pghero_query_stats, :query, index: false
  end
end
